#container {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 60vh;
}

#pickArea {
    background-color: rgba(0, 0, 0, 0.255);
    width: 800px;
    height: 400px;
}

#gameItems {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;  
}

.stamp {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    width: 40px; 
    height: 70px; 
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.black {
    color: black;
}
